---
title: Home
---

#banner
  %img{:src => '/assets/images/homepage_banner.png', :alt => 'Graffiti in Doel'}

%section#latest_posts
  - oldest_item = nil
  - current_index = 0

  - sorted_articles[current_index, featured_count].each do |item|
    - oldest_item = item
    - current_index += 1
    = render('_excerpt', :item => item)

