@import url("http://fonts.googleapis.com/css?family=Arvo")
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz")
@import compass
@import compass/reset
@include reset-html5
@import compass/css3
@import compass/typography/text/replacement

@mixin data-uri-bg($image, $properties)
  background: inline-image($image) $properties
  *background: url($image) $properties

$font-color: #333333
$link-color: blue
$font-family: "DroidSerif", Georgia, serif
$font-size: 12px
$line-height: 18px

html,
body
  width: 100%
  height: 100%

html
  overflow-y: scroll

body
  font-family: $font-family
  font-size: $font-size
  line-height: $line-height
  color: $font-color
  background: #f7f7f7 url('/assets/images/main_bg.png') top center no-repeat

a, a:hover, a:active
  text-decoration: none
  font-weight: bold
  color: $font-color

h1
  font-family: "Yanone Kaffeesatz", sans
  font-size: 35px

h2
  font-size: 1.5em
  padding-top: 10px
  font-weight: bold
  margin-bottom: 5px

h3
  font-size: 1.4em
  padding-top: 5px
  font-weight: bold
  margin-bottom: 5px
p
  font-size: 1.2em
  line-height: 1.4em
  margin-bottom: 1.5em

header
  height: 200px
  text-transform: uppercase

  nav
    background-color: #363636
    height: 35px
    color: white

    ul
      text-align: center

      li
        display: inline-block
        padding: 0px 20px 0px 20px
        height: 35px

        &.active
          background: transparent url('/assets/images/menu_active.png') bottom center no-repeat

        a, a:hover
          font-weight: normal
          font-size: 15px
          line-heigth: 20px
          color: white
          padding: 10px 20px 0px 20px

  h1.logo
    position: absolute
    top: 70px
    left: 0
    width: 100%
    height: 54px
    text-align: center
    a
      background: url('/assets/images/logo.png') center no-repeat
      text-indent: -999999px
      width: 218px
      height: 54px
      display: block
      margin: 0px auto

  h2.subtext
    position: absolute
    top: 130px
    width: 100%
    text-align: center
    span
      background: url('/assets/images/subtext.png') center no-repeat
      text-indent: -999999px
      width: 950px
      height: 25px
      display: block
      margin: 0px auto

footer
  margin-top: 20px
  background: url('/assets/images/footer_bg.png') repeat-x
  height: 71px
  color: #f3f3f3

  .wrap
    text-align: center
    background: transparent
    p
      background: url('/assets/images/footer_logo.png') left no-repeat
      padding: 30px 0 0 150px
      margin: 0px auto
      display: block
      width: 300px
      height: 40px
      a, a:hover, a:active, a:visited
        color: #f3f3f3
.wrap
  margin: 0 auto
  position: relative
  padding: 0 10px
  width: 950px

#main
  overflow: hidden
article
  width: 960px
  font-size: 15px
  line-height: 25px
  text-align: center

  p
    width: 500px
    margin: 0px auto 1.5em auto
    text-align: left

  header
    width: 670px
    margin: 0px auto 1.7em auto

    text-align: left
    position: relative
    height: 100px
    background: transparent

    h1
      margin-left: 85px
      font-family: "Yanone Kaffeesatz", sans
      font-size: 35px
      font-weight: bold
      padding-top: 15px

    p.excerpt
      margin-left: 85px

    time
      font-family: "Yanone Kaffeesatz", sans
      background: url('/assets/images/time_bg.png') center no-repeat
      display: block
      position: absolute
      top: 0
      left: 0
      width: 74px
      height: 74px

      span.month
        position: absolute
        top: 10px
        width: 100%
        text-align: center
        font-size: 20px

      span.day
        position: absolute
        top: 28px
        width: 100%
        text-align: center
        font-size: 32px

  img
    padding: 5px
    margin-bottom: 15px
    +box-shadow(#333333 0px 2px 5px)

  .gist
    text-align: left
    font-size: 0.8em
    line-height: 1.1em
    width: 670px
    margin: 0px auto 1.7em auto

  ul
    width: 500px
    margin: 0px auto 1.7em auto
    text-align: left

    li
      list-style-type: disc

section#latest_posts
  margin-top: 20px
  background: url('/assets/images/latest_blogposts_header.png') top no-repeat
  padding-top: 35px
  overflow: auto

article.excerpt
  width: 470px
  float: left

  header
    height: auto

    h1
      font-size: 22px
      margin-left: 34px
      padding-top: 10px

  time
    width: 30px
    background: transparent

  p
    margin-left: 40px

.archives
  margin-top: 20px
  overflow: hidden
  ul
    width: 460px
    li
      article.excerpt
        float: none

  ul.left
    float: left
  ul.right
    float: right

