---
---

- is_embedded ||= false

%article.article
  %h1
    - if is_embedded
      %a{:href => route_path(item)}= item[:title]
    - else
      = item[:title]

  = render('_meta', :item => item)

  != content || partial(item)