---
---
- if item[:kind] == 'article'
  %footer
    %time{:datetime => item[:created_at]}= pretty_time(item[:created_at])

    - if item[:tags]
      %ul.tags
      - item[:tags].sort.each do |tag|
        %li
          %a{:href => "/tags/#{tag}/"}= tag