---
title: How to control an RC car with arduino
tags: [arduino]
created_at: 2011/05/21
kind: article
excerpt: I thought it would be fun to control an RC car with an arduino.
---
%p
  A while ago me,
  %a{:href => 'http://www.twitter.com/thijsc'} @thijsc
  and
  %a{:href => 'http://www.twitter.com/jkreeftmeijer'} @jkreeftmeijer
  each bought an arduino starters kit and after the first blinking light it ended up somewhere on my desk.
  Today i thought it would be fun to actually do something with it, so i went to the local Intertoys and bought a cheap RC car.

%h3 Requirements

%p
  If you want to do the same i suggest you first try it with the cheapest RC car you can find that has:

%ul
  %li 7 way control (forward - left & right, backwards - left & right and stop)
  %li Runs on 6 volts
  %li Is big enough to house the arduino and board.
  %li Doesn't go to fast (it gets really hard to control movement)
  %li See if the steering wheels return to the center automatically

%p
  I ended up with the "Wild Hopper", an offroad buggy.

%img{:src => '/assets/posts/control_an_rc_car/wild_hopper.jpg'}

%h3 Insides

%p Next step was to take the damn thing apart!

%img{:src => '/assets/posts/control_an_rc_car/wild_hopper_hops_no_more.jpg'}

%p Inside i unscrewed the PCB to see if i could recognize anything. (Click for larger image with pin layout)

%a{:href => '/assets/posts/control_an_rc_car/print.jpg'}
  %img{:src => '/assets/posts/control_an_rc_car/print_thumb.jpg'}

%h3 Wiring

%p
  I Googled for the numbers on the PCB (SW188 top right on the PCB) and it turns out
  there is a Chinese (i'm assuming this by the look of the signs) document with the pin layout of the chip!
  %a{:href => '/assets/posts/control_an_rc_car/pin_layout.pdf'}
    Download the pdf here.

%p
  Now i had the pin layout it was just a matter of putting current on the pins and the wheels started moving!
  I also found out the front weels return to the center position after i disconnected the current. This is really great and saves me a lot of code.
  Next i soldered wires to the right pins and a wire to the ground. I added LEDs to all the channels so i could see if the right action was triggered.

%img{:src => '/assets/posts/control_an_rc_car/wiring_complete.jpg'}

%p
  As you can see from the photo, I used digital pin 3 to 6 for the four channels (forwards, backwards, left, right)

%p
  With everything connected it was time to write the code. I wanted to achieve a simple 3 point turn,
  this would require all actions (forward, left, right backwards and stop) so i could see that everything was working ok.

%h3 The code

%p The code is really simple, I initialize the pins for output and use that and delays to move the car around.

<script src="https://gist.github.com/984611.js"> </script>

%h3 Result

%p The end result of the day

<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/oP2s1giB86I?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/oP2s1giB86I?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="680" height="500"></embed></object>

%h3 What's next?

%p The next step will be adding sensors so it doesn't crash into every object in the room. More about that in another post!
