---
title: A trakt.tv siri proxy plugin
tags: [ruby, siri, proxy, trakt.tv]
created_at: 2011/12/04
kind: article
excerpt: Siri tells you your upcoming tv shows for the night.
---

%small
  Disclamer: This is a quick post before i go to bed, will revise it tomorrow :)

%h2 Hi, Siri

%p
  With the siri proxy gem (
  %a{:href => 'https://github.com/plamoni/SiriProxy'}https://github.com/plamoni/SiriProxy
  )creating your own fun stuff for iPhone 4s's Siri is pretty straight forward.

%h2 Hi, Trakt

%p
  %a{:href => 'http://trakt.tv'}Trakt.tv
  has an
  %a{:href => 'http://trakt.tv/api-docs'}amazing api
  and i wrote a small wrapper (see
  %a{:href => 'https://github.com/matsimitsu/SiritTrakt/blob/master/lib/trakt.rb'}lib/trakt.tv
  in the project) to fetch a users's calendar for that night.

%h2 How i did it.

%p
  First off make sure you read all the documentation on the proxy github page, setting up the DNS server can be tricky if you don't follow all the steps in the video.

%h3 Naming

%p
  Naming is very important for the siri proxy so make sure you do it right! The name you set in the siri proxy config should be the classname you extend the plugin from.
  The name downcased should be the gem name (with siriproxy prepended)
  It took me a while to figure out and get everything up and running.

%h3 Code

<script src="https://gist.github.com/1428788.js?file=gistfile1.rb"></script>

%p The listen_for tells the proxy what words to match with the response from apple, the code in the block gets executed when the words match

%p In the generate_calendar_response i create a new view and add every episode i get from trakt to it. The whole thing gets returned to your iPhone and siri tells you the results :)


%h2 The result

%p The video below shows the result.

<iframe width="560" height="315" src="http://www.youtube.com/embed/Utu9o5WG1d0" frameborder="0" allowfullscreen></iframe>


%p
  As always the code can be found on
  %a{:href => 'https://github.com/matsimitsu/SiritTrakt'}GitHub
